/*Estilos para las cards*/

.cards-section{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 20px;
} 

.card {
  background: #2d2d2d;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card__image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card__title {
  font-size: 24px;
  text-align: center;
}

.card__subtitle {
  line-height: 1.5;
  color: #d0d0d0;
  flex-grow: 1;
}

.card__link {
  background: linear-gradient(180deg, #0278fe 0%, #003a7b 100%);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  text-align: center;
  transition: opacity 0.3s ease;
}

.card__link:hover {
  opacity: 0.8;
}