.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.products__title {
  background-color: #3498db;
  font-style: italic;
  font-size: 25px;
  color: black;
  text-align: center;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .products__title {
    font-style: italic;
    font-size: 35px;
    text-transform: uppercase;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .products__title {
    font-size: 50px;
    transition:
      0.5s,
      color 0.1s;
    -webkit-transition:
      0.5s,
      color 0.1s;
    -moz-transition:
      0.5s,
      color 0.1s;
  }

  .products__title:hover {
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
  }

  .products__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
