html,
body{
    overflow-x: hidden;
    width: 100%;
} 

.page{
    min-height:100vh;
    display:grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
        overflow: hidden;
}